.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-ellipsis {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 1.2em;
  max-height: 2.4em;
}

.button-container {
  width: 100%;
}

@media (max-width: 500px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

.filter-carousel-container {
  position: relative;
  margin-bottom: 20px;
}

.filter-item {
  white-space: nowrap;
}

.active-filter {
  background-color: #8b4e2f;
  color: #fff;
}


